UI menu.c32
PROMPT 0
MENU TITLE ArchFlux OS Live
TIMEOUT 50
DEFAULT archflux

LABEL archflux
  MENU LABEL ArchFlux OS Live (x86_64)
  LINUX /arch/boot/x86_64/vmlinuz-linux
  INITRD /arch/boot/x86_64/initramfs-linux.img
  APPEND archisobasedir=arch archisolabel=ARCHFLUX quiet
